.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 5px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-right: 180px;
}
