.body-container{
    height: auto;
    width: 100vw;
    display: grid;
    margin-left: 15vw;
}

.body-navbar{
    display: flex;
    width: 100vw;
    height: auto;
}

.body-information{
    width: 60vw;
    height: auto;
    display: flex;
}

.body-header{
    width: 60vw;
    height: auto;
    display: flex;
}

.body-rental-credentials{
    width: auto;
    height: auto;
    display: flex;
}

.body-footer{
    width: auto;
    height: auto;
    display: flex;
}

.body-footer-book-btn{
    width: 180px;
    height: 55px;
    background-color: white;
    border-color: #B71234;
    color: #B71234;
    font-size: 20px;
    cursor: pointer;
    margin-left: 32vw;
    border-radius: 20px;
}

.body-footer-apply-btn{
    width: 180px;
    height: 55px;
    background-color: #B71234;
    border-color: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 2vw;
    border-radius: 20px;
}

.body-right-book-btn{
    width: 180px;
    height: 55px;
    background-color: white;
    border-color: #B71234;
    color: #B71234;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 6vw;
    margin-top: 20vh;
}

.body-right-apply-btn{
    width: 180px;
    height: 55px;
    background-color: #B71234;
    border-color: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 3vh;
    margin-left: 6vw;
}

.body-right{
    margin-left: 2vw;
}

.body-right-btns{
    display: grid;
}

.body-right-agent{
    margin-top: 5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 30px;
}

.body-right-terms{
    margin-top: 10vh;
    border: solid 2px #B71234;
}

.body-navbar-btn{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 25px;
}

.body-navbar-right{
    margin-left: 40vw;
}

.body-print-btn{
    cursor: pointer;
    background-color: white;
    border: none;
    color: #B71234;
    font-size: 25px;
}

.body-header-left{
    width: 40vw;
}

.body-header-right{
    text-align: end;
    width: 16vw;
}

.body-right-move{
    margin-left: 2vw;
}

.body-right-costs{
    margin-left: 2vw;
    font-size: 20px;
}

.brib{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B71234;
    margin-left: 2vw;
}

.body-icons{
    display: flex;
    width: auto;
    height: auto;
}

.body-icons-left{
    width: 30vw;
}

.body-location-btn{
    justify-content: end;
    text-align: end;
    margin-left: 22vw;
    cursor: pointer;
}

.body-right-icons{
    margin-top: 3vh;
}

.body-return-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    color: #B71234;
    font-size: 20px;
}

.brclt{
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid#B71234;
}

.brcrt{
    font-size: 30px;
    border-bottom: 2px solid#B71234;
}

.body-rental-credentials-right{
   text-align: center;
}

.body-housing-description-paragraph{
    font-size: 20px;
}